# Build folders
**/bin/
**/obj/

# VS and user files
.vs/
*.user
*.suo

# Node / Next.js
node_modules/
.next/
out/
dist/

# Logs
*.log

/Api/appsettings.Development.json
/Api/appsettings.Development.json
